<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>



<div class="container text-center">
    <h3>Add Product</h3>
    <form action="/admin/add" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name" class="form-control">
        <% let nameError = validationErrors.find(err => err.param === 'name')%>
        <%if(nameError) {%>
            <p class="alert alert-danger">
                <%= nameError.msg %>
            </p>
        <%}%>
        <input type="number" name="price" placeholder="Price" class="form-control">
        <% let priceError = validationErrors.find(err => err.param === 'price')%>
        <%if(priceError) {%>
            <p class="alert alert-danger">
                <%= priceError.msg %>
            </p>
        <%}%>
        <textarea  name="description" placeholder="description" class="form-control" ></textarea>
        <select name="category" id="" class="form-control" >
            <option value="" selected>Choose a category</option>
            <option value="phones">Phones</option>
            <option value="clothes">Clothes</option>
            <option value="computers">Computers</option>
        </select>
        <input type="file" class="form-control" name="image" placeholder="image">
        <input type="submit" class="btn btn-primary" value="Add Product">
    </form>
</div>
<%- include('parts/footer.ejs')%>