<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>

<div class="container">
    <% if(items.length === 0 ){%>
        <p class="alert alert-danger">
            There is no items
        </p>
    <%} else {%>
        <table>
            <thead>
                <tr>
                    <td>no</td>
                    <td>product name</td>
                    <td>price</td>
                    <td>amount</td>
                    <td>total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <%for (let i=0;i< items.length;i++) {%>
                    <tr>
                        <td> <%= i+1%></td>
                        <td> <%= items[i].name %> </td>
                        <td> <%= items[i].price *1 %> $</td>
                        <form  method="post">
                            <td> <input type="text" name="amount" class="form-control" value="<%= items[i].amount%>"></td>
                            <td> <%= items[i].price *items[i].amount %>$</td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <input type="hidden" name="name" value="<%= items[i].name %>">
                                <input type="hidden" name="price" value="<%= items[i].price %>">
                                <input type="submit" class="btn btn-success" value="Save" formaction="/cart/save">
                                <input type="submit" class="btn btn-danger" value="Delete" formaction="/cart/delete">
                            </td>
                        </form>
                    </tr>
                <%}%>
            </tbody>
        </table>
    <%}%>
</div>



<%- include('parts/footer.ejs')%>